@import 'nib'

body
	box-sizing: border-box

.display__none
	display: none
.gradient__to__bottom
	background: linear-gradient(#dadada 1%, transparent 10%)
.header_logo
	margin: 0 auto
	width: 300px
.visible
	display: block !important
.shopping_cart
	width: 100%
	a
		b
			display: none
			font-size: 0
