@import 'nib'

body
	box-sizing: border-box

.display__none
	display: none
.font__zero
	font-size: 0
	line-height: 0
	margin: 0
.gradient__to__bottom
	background: linear-gradient(#EAEAEA 10%, transparent 60%)
.header_logo
	margin: 0 auto
	width: 280px
.visible
	display: block !important
.shopping_cart
	width: 100%
	a
		b
			display: none
			font-size: 0
