body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.display__none {
  display: none;
}
.gradient__to__bottom {
  background: -webkit-linear-gradient(#dadada 1%, transparent 10%);
  background: -moz-linear-gradient(#dadada 1%, transparent 10%);
  background: -o-linear-gradient(#dadada 1%, transparent 10%);
  background: -ms-linear-gradient(#dadada 1%, transparent 10%);
  background: linear-gradient(#dadada 1%, transparent 10%);
}
.header_logo {
  margin: 0 auto;
  width: 300px;
}
.visible {
  display: block !important;
}
.shopping_cart {
  width: 100%;
}
.shopping_cart a b {
  display: none;
  font-size: 0;
}
