@import 'nib'



*
	box-sizing: border-box
	font-smoothing: antialiased
.activo
	top: 0%
.address_update
	a
		background: #ff6700 !important
		border: 0 !important
		border-color: transparent !important
		span
			border: 0 !important
			padding: 10px 15px !important
			transition: .25s
			&:hover
				background: #f8b302 !important
.ancho__50
	width: 49%
.box-cart-bottom
	background: none
	box-shadow: none
	text-align: right
	.buttons_bottom_block
		.agrega__nod_prod
			background: #ff6700
			border: 0
			border-radius: 5px
			height: 50px
			transition: .25s
			width: 180px
			svg
				width: 40px
			&:hover
				background: #FF0800
				box-shadow: 3px 3px 5px rgba(black, .2)
.box-info-product
	border: 0
.breadcrumb
	display: block
	text-align: center
.carrito__list
	svg
		width: 30px
.carrito__nodriza
	width: 24%
.carrito__nodriza
.logo__ciberday
.logo__nodriza
	display: inline-block
	vertical-align: middle
.cart_avail
	span
		background-color: white
		border: 0
		color: #36943e
		text-decoration: underline
.cart_block
	.cart-buttons
		a#button_order_cart
			span
				background: #FF7300
				border: 0
	.cart-images
		width: 50px
		img
			width: 100%
	.cart-info
		padding-right: 25px
		.product-name
		.product-atributes
		.price
			padding: 0
.cart__of
	font-family: 'Oswald', sans-serif
	font-size: 16px
	margin: 0
	text-transform: capitalize

.cart_quantity_delete
	&:hover
		.icon-trash
			transition: .25s
			&:before
				color: #ff0800
.cart_unit
	.price-percent-reduction
		background: #ff6700 !important
		border: 0
		border-radius: 50%
		font-size: 13px
		line-height: 35px
		height: 35px
		padding: 0
		text-align: center
		width: 35px
.cierra__news
	cursor: pointer
	text-align: right
	&:before
		color: white
		content: "\f057"
		display: block
		font-family: "FontAwesome"
		font-size: 25px
		line-height: 25px
.col-lg-list
	width: 20%
.content__nod_prolist
	position: relative
.descrition__nod
	margin-bottom: 0
.descrition__nod__int
	margin: 0
	padding: 0 !important
	p
		margin: 16px 0 !important
.display__none
	display: none
.font__light
	font-weight: 100
.font__zero
	font-size: 0
	line-height: 0
	margin: 0
.gradient__to__bottom
	background: linear-gradient(to bottom, rgba(209, 209, 209, 0.65) 0%, rgba(192, 192, 192, 0.01) 98%, rgba(255, 255, 255, 0) 100%)
.header_logo
	margin: 0 auto
	padding-top: 5px
	width: 250px
.inline__info
	//padding-top: 55px
	text-align: right
	.user__info
	.right
		display: inline-block
.inline__block
	display: inline-block !important
	vertical-align: top
.iva__nod
	display: block
	//font-family: 'Oswald', sans-serif
	font-weight: lighter
	font-size: 13px
	padding-left: 10px
	//text-align: center
	text-transform: uppercase
.left-block
	position: relative
	.discount__box
		background: #ff6700
		border-radius: 50%
		height: 65px
		left: 0
		position: absolute
		top: 0
		width: 65px
		z-index: 1
		.price-percent-reduction
			background none
			border 0
			color white
			display block
			font-family: 'Oswald', sans-serif
			font-size: 24px
			line-height: 65px
			padding 0
			text-shadow: 2px 2px 3px rgba(black, .3);
.logged
	position: relative
.logout
	display: block
	padding: 10px 0
	position: absolute
	text-transform: uppercase
	top: 10px
	right: 0
	//pointer-events: none
.logo__ciberday
	//padding-top: 55px
	width: 24%
	svg
		max-width: 200px
.logo__nodriza
	width: 49%
.news
	background: rgba(black, 0.5);
	//box-shadow: 2px 2px 5px rgba(black, 0.5)
	//left: 5%
	height: 100%
	//min-height: 300px
	padding: 60px 10%
	position: absolute
	top: -200%
	transition: .25s
	width: 100%
	z-index: 21
	.block
		background: #444
		box-shadow: 3px 3px 8px rgba(black, .8)
		border-radius: 5px
		margin: 0 auto
		padding: 25px 30px
		max-width: 600px
		z-index: 21
	.block_content
		input
			border-radius: 3px
			height: 40px
			width: 75%
		input
		button
			display: inline-block
			vertical-align: middle
		button
			background: #FF6700
			border: 0
			border-radius: 3px
			box-shadow: 2px 2px 3px rgba(black, .2)
			height: 40px
			width: 24%
			span
				border: 0
				line-height: 40px
				padding: 0
.no__padding
	padding: 0
#order-detail-content
	#cart_summary
		tfoot
			.cart_total_price
				.price
					#total_price
						color: #ff0800
						font-family: 'Oswald', sans-serif
						font-weight: normal
.our_price_display
	width: 100%
	.price
		color: #ff6700
		display: block
		font-family: 'Oswald', sans-serif
		font-size: 60px
		font-weight: 100
		line-height: 60px
		width: 100%
.page-product-box
	h3
		border: 0
		//border-bottom: 1px solid #5b5b5f
		font-family: 'Oswald', sans-serif
		font-size: 20px
		font-weight: 100
		padding: 0
	.rte
		padding: 0 !important
.pb-center-column
	h1
		//background: linear-gradient(#EAEAEA 1%, transparent 99%)
		font-family: 'Oswald',sans-serif
		font-weight: 100
		margin: 0
		padding: 0
		text-transform: uppercase
.pb-left-column
	#image-block
		border: 0
.pop
	nav
		padding: 10px 0
		text-align: center
		button
			background: #ff6700
			border: 0
			border-radius: 3px
			color: white
			font-size: 20px
			font-weight: 600
			margin-left: 16px
			padding: 5px 10px
		button
		h2
			display: inline-block
			vertical-align: middle
		h2
			color: #ff6700
			font-size: 16px
			margin: 0
			text-transform: uppercase
			span
				color: white
				font-size: 20px
				font-weight: 600
.porcentaje__nod_prod
	background: #ff6700 !important
	border: none !important
	border-radius: 50%
	height: 45px
	text-align: center
	width: 45px
	span
		display: block
		line-height: 45px
		width: 100%
.precio__anterior
	text-decoration: none !important
	span
		font-size: 16px
		font-weight: 600
	.antes
		font-weight: 600
	.price
		color: #ff6700
		text-decoration: underline
.price__box
	position: relative
.product__desc
	border-bottom: 1px solid #ddd
	font-size: 16px
	//margin: 0 !important
	label
		color: #777
		font-weight: 100
	label
	span
		font-family: 'Oswald', sans-serif
		margin: 0
		text-transform: uppercase
	.editable
		color: #ff6700
.product_attributes
	box-shadow: none
.quantity_wanted_p
	margin-bottom: 0 !important
	position: relative
	input
		height: 40px !important
		text-align: right !important
		width: 130px !important
	input
	.product_quantity_down
	.product_quantity_up
		float: none !important
	.product_quantity_down
	.product_quantity_up
		background: #777
		border: 0
		height: 19px
		left: 140px
		margin-left: 0 !important
		position: absolute
		width: 20px
		&:hover
			span
				background: transparent
		span
			background: transparent
			border: 0
			display: block
			height: 19px
			margin: 0
			padding: 0
			width: 100%
			i
				line-height: 19px
	.product_quantity_down
		bottom: 0
	.product_quantity_up
		top: 0
.right
	text-align: right
	vertical-align: middle
.right-block
	height 135px
	padding: 0 10px
	text-align: left
	h5
		margin: 0
		padding: 0 !important
		a
			font-size: 16px
			font-family: 'Oswald', sans-serif
			font-weight: 100
	.button-containerr
		//background: #f8b302
		border: 3px solid #f8b302
		border-radius: 50%
		height: 60px
		position: absolute
		right: 0
		top: 0
		transition: .25s
		width: 60px
		a
			border-color: transparent
			display: block
			height: 100%
			padding: 12px
			width: 100%
			span
				background: transparent
				border: none
				font-size: 0
	.content_price
		span
			display: block
		.old-price
			color: #666
			font-size: 13px
			//font-family: 'Oswald', sans-serif
			font-weight: 400
			margin: 10px auto
			text-decoration: none
			span
				//background: #ff6700
				border-radius: 3px
				color: #777
				font-family: 'Oswald', sans-serif
				font-size: 16px
				font-weight: 100
				//padding: 5px
				text-decoration: underline
				vertical-align: baseline
		.price-percent-reduction
			background: white
			border: 0
			color: red
			display: none
			font-size: 13px
			font-family: 'Oswald', sans-serif
			font-weight: 400
		.product-price
			color: #ff6700
			font-size: 24px
			font-family: 'Oswald', sans-serif
			font-weight: 400
.right__nod
	right: 0
.selector__nod
	.attribute_list
		.selector
			background: none
			border: 1px solid rgb(189, 194, 201)
			height: 40px
			line-height: 40px
			span
				background: none
				line-height: 40px
				&:after
					content: "\f107"
					display: inline-block
					font: normal normal normal 14px/1 FontAwesome
					font-size: 20px
					position: absolute
					right: 10px
					text-rendering: auto
					top: 10px
					transform: translate(0, 0)
			.form-control
				height: 40px !important
				width: 100% !important
				max-width: 100% !important
				right: 0
				option
					line-height: 40px
.shopping_cart
	float: initial !important
	text-align: right
	height: 55px
	padding-top: 0 !important
	width: 55px
	a
		b
			display: none
			font-size: 0
	.cart__button
		background: white
		border-radius: 10px
		box-shadow: 0 0 10px rgba(black, .3)
		height: 55px
		position: relative
		width: 100%
		.ajax_cart_no_product
		.ajax_cart_quantity
			background: #FF6700
			border-radius: 50%
			color: white
			height: 33px
			line-height: 33px
			position: absolute
			right: -16px
			text-align: center
			top: -16px
			width: 33px
	.cart_block
		top: 55px !important
		min-width: 270px
.table-data-sheet
	tbody
		tr
			td
				color: #777
				padding: 10px 5px
				font-weight: 600
				text-transform: uppercase
				&:first-child
					color: #777
					font-weight: normal
					padding: 10px 0
					text-transform: uppercase
#thumbs_list
	li
		a.shown
			border: 3px solid #F8B302
.top-hr
	display: none
#usefull_link_block
	display: none
ul.product_list
	li
		border-right: 1px solid #c9c9c9
		&:hover
			.product-container
				.right-block
					.price__box
						.button-containerr
							background: #f8b302
	.availability
		span
			color: #666
			margin: 0
			padding: 0
		.label-success
			background: transparent
			border: 0
			color: #36943e
			text-decoration: underline
ul.product_list.grid > li
	//min-height: 380px
	margin-bottom: 16px
	.product-container
		.product-image-container
			border: 0
@media screen and (max-width: 990px)
	.right-block
		padding 0
.user__info
	//height: 55px
	padding: 5px 10px
	vertical-align: middle
	width: calc(100% - 60px)
	.header_user_info
		border: none
		float: none
		.logged
			&:hover
				.logout
					opacity: 1
					//pointer-events: initial
					top: 40px
					visibility: visible
		a
			color: #666
			font-family: 'Oswald', sans-serif
			font-size: 16px
			padding: 0
			span
				color: #666
				font-family: 'Oswald', sans-serif
				text-transform: uppercase
			&:hover
				background: transparent
		.login
			font-family: 'Oswald', sans-serif
			font-weight: 100
			text-transform: full-width
		.logout
			opacity: 0
			transition: .25s
			visibility: hidden
.visible
	display: block !important

@media screen and (max-width: 990px)
	.col-lg-list
		width: 25%

	.logo__ciberday
		svg
			width: 150px
	.logo__nodriza
		text-align: right
@media screen and (max-width:770px)
	.carrito__nodriza
		padding-right: 5px
		width: 49%
	/*.inline__info
	.logo__ciberday
		padding-top: 20px*/
	.logo__nodriza
		width: 24%
	.header_logo
		margin: 0
		width: 150px
@media screen and (max-width:650px)
	.cabecera
		text-align: center
	.carrito__nodriza
		margin-top: 10px
		padding-right: 0
		width: 98%
	.inline__info
		text-align: center
		.user__info
			background: linear-gradient(#eaeaea 10%, transparent 60%)
			box-shadow: 0 0 10px rgba(0,0,0,0.3)
			border-radius: 10px
			height: 45px
			padding: 0 15px
			width: initial
			.login
				line-height: 45px
	.logo__ciberday
		text-align: right
		width: 49%
	.logo__nodriza
		width: 49%
	.pop
		nav
			button
				font-size: 90%
			h2
				font-size: 90%
				span
					font-size: 90%
	.shopping_cart
		height: 45px
		width: 45px
		.cart__button
			height: 45px
			.ajax_cart_no_product
			.ajax_cart_quantity
				height: 20px
				line-height: 20px
				right: -5px
				top: -5px
				width: 20px
@media screen and (max-width:480px)
	.col-xs-12
		width: 100%
	ul.product_list li
		border-right: 0
	#layer_cart
		.layer_cart_product
			padding-bottom: 5px !important
			.layer_cart_product_info
				padding: 10px 0 0 0
			.product-image-container
				margin: 0 auto !important
		.layer_cart_cart
			padding: 21px 30px 90px 30px !important
